@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
  }

  :root {
    --text: 215 43% 26%;
    --background: 120 4% 89%;
    /* --secondary: 215 47% 72%;*/
    --secondary: 215 67% 62%;
    --neutral: 204 26% 19%;
    --primary: 16 38% 64%;
  }

  html.dark {
    --text: 219 41% 92%;
    --background: 120 4% 11%;
    --secondary: 215 97% 72%;
    --neutral: 0 0% 84%;
    --primary: 23 44% 68%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--text));
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  .content-grid {
    --padding-inline: 1rem;
    --content-max-width: 900px;
    --breakout-max-width: 1200px;

    --breakout-size: calc(
      (var(--breakout-max-width) - var(--content-max-width)) / 2
    );

    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline), 1fr)
      [breakout-start] minmax(0, var(--breakout-size))
      [content-start] min(
        100% - (var(--padding-inline) * 2),
        var(--content-max-width)
      )
      [content-end]
      minmax(0, var(--breakout-size)) [breakout-end]
      minmax(var(--padding-inline), 1fr) [full-width-end];
  }

  .content-grid > :not(.breakout, .full-width),
  .full-width > :not(.breakout, .full-width) {
    grid-column: content;
  }

  .content-grid > .breakout {
    grid-column: breakout;
  }

  .content-grid > .full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
  }
}
